swagger: "2.0"

info:
  version: "1.0.0"
  title: SalesTim Virtual Apps API
  description: >
     Enables SalesTim Virtual Apps to perform governance operations on the SalesTim API
  contact:
    email: support@salestim.com
    name: SalesTim Support
    url: https://developers.salestim.com/api

host: api.salestim.io
basePath: /v1.0

securityDefinitions:
  appSecret:
    description: A valid virtual app secret
    type: apiKey
    in: header
    name: X-API-KEY

schemes:
  - https

consumes:
  - application/json
produces:
  - application/json

paths:

  /catalog/templates:
    get:
      summary: Get all templates from your corporate catalog
      description: Get all templates from your corporate catalog
      operationId: GetCatalogTemplates
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/CatalogApi.html#getcatalogtemplates
      tags:
        - Catalog
      security:
        - appSecret: []
      responses:
        200:
          description: Operation executed successfully.
          schema:
            type: array
            items:
              $ref: "#/definitions/CatalogTemplate"
          headers: {}
        401:
          description: API key or app id are missing or invalid.
          schema: {}
        404:
          description: The ressource cannot be found.
          schema: {}
        429:
          description: Too many requests. Your request has been throttled.
          schema: {}
        500:
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema: {}
        default:
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema: {}

  /jobs/{id}:
    get:
      description: Get detailed information about a job (Status, logs...)
      summary: GetJob
      tags:
        - Jobs
      operationId: GetJob
      security:
        - appSecret: []
      deprecated: false
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: string
          description: The job ID
      responses:
        200:
          description: Operation executed successfully.
          schema:
            $ref: "#/definitions/Job"
          headers: {}
        401:
          description: API key or app id are missing or invalid.
          schema: {}
        404:
          description: The ressource cannot be found.
          schema: {}
        429:
          description: Too many requests. Your request has been throttled.
          schema: {}
        500:
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema: {}
        default:
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema: {}
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/JobsApi.html#getjob
  /jobs/provisioning:
    post:
      description: Create a new provisioning job by sending a ProvisioningRequest
      summary: CreateProvisioningJob
      tags:
        - Jobs
      operationId: CreateProvisioningJob
      security:
        - appSecret: []
      deprecated: false
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: body
          in: body
          required: true
          description: A ProvisioningRequest object describing the job to execute
          schema:
            $ref: "#/definitions/ProvisioningRequest"
      responses:
        200:
          description: Operation executed successfully.
          schema:
            $ref: "#/definitions/Job"
          headers: {}
        401:
          description: API key or app id are missing or invalid.
          schema: {}
        404:
          description: The ressource cannot be found.
          schema: {}
        429:
          description: Too many requests. Your request has been throttled.
          schema: {}
        500:
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema: {}
        default:
          description: The server encountered an unexpected condition that prevented it from fulfilling the request.
          schema: {}
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/JobsApi.html#createprovisioningjob

definitions:

  CatalogTemplate:
    title: CatalogTemplate
    description: A template from the corporate catalog
    externalDocs:
      url: https://developers.salestim.com/api/reference/Models/CatalogTemplate.html
    type: object
  Job:
    title: Job
    description: A job that performs some tasks asynchronously
    externalDocs:
      url: https://developers.salestim.com/api/reference/Models/Job
    type: object
    properties:
      id:
        description: The job ID, auto-generated at creation
        type: string
        format: uuid
      log:
        description: The job audit log
        type: array
        items:
          type: string
      type:
        description: The job type (for instance `ProvisioningRequest`)
        type: string
      status:
        $ref: "#/definitions/Status"
      progress:
        description: The job current progress
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      data:
        description: The job data (for instance a `ProvisioningRequest` object)
        type: object
  ProvisioningRequest:
    title: ProvisioningRequest
    description: A request to provision a team based on a template from your corporate catalog
    externalDocs:
      url: https://developers.salestim.com/api/reference/Models/ProvisioningRequest
    type: object
    properties:
      templateId:
        description: The template ID
        type: string
      requestedTeamName:
        description: Requested team name
        type: string
      requestedTeamDescription:
        description: Requested team description
        type: string
      requestedTeamWelcomeMessage:
        description: Requested team welcome message
        type: string
      requestedMembers:
        description: Requested members as an array of objects
        type: array
        items:
          $ref: "#/definitions/RequestedMember"
      requestedOwners:
        description: Requested owners as an array of users. User identifier could be its ID, UPN or email.
        type: array
        items:
          $ref: "#/definitions/RequestedOwner"
      onBehalfOfRequester:
        $ref: "#/definitions/OnBehalfOfRequester"
    required:
      - templateId
      - requestedTeamName
  OnBehalfOf:
    title: OnBehalfOf
    description: When creating a new request in `application mode`, indicates that the request should be executed on behalf of a specific user. User identifier could be its ID, UPN or email. This property is ignored in `delegated mode`.
    type: object
    properties:
      id:
        description: User ID
        type: string
      upn:
        description: User UPN
        type: string
      email:
        description: User email
        type: string
  RequestedMember:
    title: RequestedMember
    type: object
    properties:
      id:
        description: User ID
        type: string
      upn:
        description: User UPN
        type: string
      email:
        description: User email
        type: string
  RequestedOwner:
    title: RequestedOwner
    type: object
    properties:
      id:
        description: User ID
        type: string
      upn:
        description: User UPN
        type: string
      email:
        description: User email
        type: string
  Status:
    title: Status
    description: The job current status
    type: string
    enum:
      - active
      - waiting
      - completed
      - failed
      - deleyed
      - paused
      - unknownFutureValue

tags:
  - name: Catalog
    description: Microsoft Teams and policy templates from your corporate catalog
    externalDocs:
      url: https://developers.salestim.com/api/reference/Apis/CatalogApi
  - name: Jobs
    description: Governance jobs that performs governance operations
    externalDocs:
      url: https://developers.salestim.com/api/reference/Apis/JobsApi
