{"openapi":"3.0.3","info":{"title":"SalesTim API","description":"The unified Microsoft Teams Governance API. Visit our [Tech Hub](https://developers.salestim.com/api/) for more information.\n","version":"1.0.0","termsOfService":"https://www.salestim.com/legal/tos","contact":{"name":"SalesTim Support","url":"https://developers.salestim.com/api","email":"support@salestim.com"},"license":{"name":"(c) Copyright 2019-2020 SalesTim - all rights reserved.","url":"https://www.salestim.com/legal/eula"}},"servers":[{"url":"https://api.salestim.io/v1.0","description":"Production environment"},{"url":"https://api-ppr.salestim.io/v1.0","description":"Production environment"},{"url":"https://uat.salestim.io/v1.0","description":"UAT environment"},{"url":"https://int.salestim.io/v1.0","description":"Integration environment"},{"url":"https://devgmeweb.eu.ngrok.io/v1.0","description":"Development environment"}],"tags":[{"name":"store","description":"Microsoft Teams and policy templates from the public template store. See our [Key Concepts / Template Store](https://developers.salestim.com/api/key-concepts.html#template-store) article for more information.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/StoreApi"}},{"name":"catalog","description":"Microsoft Teams and policy templates from your corporate catalog. See our [Key Concepts / Corporate Catalog](https://developers.salestim.com/api/key-concepts.html#corporate-catalog) article for more information.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/CatalogApi"}},{"name":"connectedapps","description":"SalesTim Connected Apps. See our [Key Concepts / Connected Apps](https://developers.salestim.com/api/key-concepts.html#connected-apps) article for more information.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/ConnectedAppsApi"}},{"name":"apps","description":"SalesTim Virtual Apps that may access this API. See our [Key Concepts / Virtual Apps](https://developers.salestim.com/api/key-concepts.html#virtual-apps) article for more information.","externalDocs":{"url":"https://developers.salestim.com/api/reference/resources/AppsApi"}},{"name":"jobs","description":"Automated jobs that performs governance operations. See our [Key Concepts / Jobs](https://developers.salestim.com/api/key-concepts.html#jobs) article for more information.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/JobsApi"}},{"name":"approvals","description":"Approval workflows used by provisioning jobs.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/ApprovalsApi"}}],"paths":{"/connectedapps/integrations/{integration}":{"get":{"tags":["connectedapps"],"summary":"Get a connected app integration (🔥 restricted to administrators)","description":"Get a connected app integration associated with your tenant.","operationId":"GetIntegration","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/ConnectedappsApi.html#getintegration"},"parameters":[{"in":"path","name":"integration","required":true,"schema":{"type":"string"},"description":"Integration slug name"}],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConnectedAppsIntegration"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/store/templates":{"get":{"tags":["store"],"summary":"Get all templates from the public template store (📡 Anonymous access)","description":"Get all templates from the public [Template Store](https://store.salestim.com). Visit the [Template Manifests Repository](https://github.com/SalesTim/template-manifests) for more information.","operationId":"GetStoreTemplates","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/StoreApi.html#getstoretemplates"},"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreTemplates"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/store/templates/{id}":{"get":{"tags":["store"],"summary":"Get a store template from the public template store (📡 Anonymous access)","description":"Get a specific templates from the public [Template Store](https://store.salestim.com). Visit the [Template Manifests Repository](https://github.com/SalesTim/template-manifests) for more information.","operationId":"GetStoreTemplate","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/StoreApi.html#getstoretemplate"},"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"ID of the template to retreive"}],"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreTemplate"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/store/templates/byCategory/{id}":{"get":{"tags":["store"],"summary":"Get store templates from a specific category (📡 Anonymous access)","description":"Get templatesfrom a specific category from the public [Template Store](https://store.salestim.com). Visit the [Template Manifests Repository](https://github.com/SalesTim/template-manifests) for more information.","operationId":"GetStoreTemplatesByCategory","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/StoreApi.html#getstoretemplatesbycategory"},"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"The category ID"}],"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreTemplates"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/store/categories":{"get":{"tags":["store"],"summary":"Get all store categories from the public template store (📡 Anonymous access)","description":"Get all categories from the public [Template Store](https://store.salestim.com). Visit the [Template Manifests Repository](https://github.com/SalesTim/template-manifests) for more information.","operationId":"GetStoreCategories","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/StoreApi.html#getstorecategories"},"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreCategories"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/me/catalog/templates":{"get":{"summary":"Get all templates a user can see filtered by audience (🔐 Authenticated users)","description":"Get all templates a user can see filtered by audience.","operationId":"GetMyCatalogTemplates","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/CatalogApi.html#getmycatalogtemplates"},"tags":["catalog"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"query","name":"language","required":false,"schema":{"type":"string"},"description":"Optional. Default to 'en'. Language code to be used to filter the colection of templates, for instance 'en' or 'en-uk'."}],"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogTemplates"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/catalog/templates":{"get":{"summary":"Get all templates from your corporate catalog (🔐 Authenticated users and apps)","description":"Get all templates from your corporate catalog.","operationId":"GetCatalogTemplates","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/CatalogApi.html#getcatalogtemplates"},"tags":["catalog"],"security":[{"bearerAuth":[]},{"appsecret":[]}],"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogTemplates"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/catalog/templates/install":{"post":{"tags":["catalog"],"summary":"Install a template from the public template store to your corporate catalog (🔥 restricted to administrators)","description":"Install a template from the public template store to your corporate catalog.","operationId":"InstallTemplate","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/CatalogApi.html#installtemplate"},"security":[{"bearerAuth":[]}],"requestBody":{"description":"An identifier of the the template to be installed.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateIdentifier"}}}},"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogTemplate"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/catalog/templates/{id}/export":{"post":{"tags":["catalog"],"summary":"Export a template from your corporate catalog (🔥 restricted to administrators)","description":"Export a template from your corporate catalog.","operationId":"ExportCatalogTemplate","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/CatalogApi.html#exportcatalogtemplate"},"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"ID of the template to export."}],"requestBody":{"description":"Defines template export options","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateExportOptions"}}}},"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CatalogTemplate"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/apps":{"get":{"tags":["apps"],"summary":"Get your virtual apps (🔥 restricted to administrators)","description":"Get all virtual apps associated with your tenant. Please note, apps could be created using the POST verb on the /apps endpoint.","operationId":"GetApps","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/AppsApi.html#getapps"},"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Apps"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}},"post":{"tags":["apps"],"summary":"Create a virtual app (🔥 restricted to administrators)","description":"Create a new virtual app and get its generated secret. Please note, for obvious security reasons, the app secret will only be accessible once, in the response to this call, but it could later be regenerated using the POST verb on the /apps/{id}/regenerateSecret endpoint.","operationId":"CreateApp","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/AppsApi.html#createapp"},"security":[{"bearerAuth":[]}],"requestBody":{"description":"List of properties and values to be updated.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/App"}}}},"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/App"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/apps/{id}":{"get":{"tags":["apps"],"summary":"Get a virtual app (🔥 restricted to administrators)","description":"Get a virtual app.","operationId":"GetApp","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/AppsApi.html#getapp"},"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"The virtual app ID."}],"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/App"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}},"put":{"tags":["apps"],"summary":"Update a virtual app (🔥 restricted to administrators)","description":"Update a virtual app.","operationId":"UpdateApp","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/AppsApi.html#updateApp"},"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"ID of the virtual app to update."}],"requestBody":{"description":"List of properties and values to be updated. Please note that some properties are readonly and therefore will be ignored.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/App"}}}},"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/App"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}},"delete":{"tags":["apps"],"summary":"Delete a virtual app (🔥 restricted to administrators)","description":"Delete a virtual app.","operationId":"DeleteApp","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/AppsApi.html#deleteApp"},"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"ID of the virtual app to delete."}],"responses":{"200":{"description":"Operation executed successfully."},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/apps/{id}/regenerateSecret":{"post":{"tags":["apps"],"summary":"Regenerate a virtual app secret (🔥 restricted to administrators)","description":"Regenerate a virtual app secret.","operationId":"RegenerateAppSecret","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/AppsApi.html#regenerateappsecret"},"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"The virtual app ID."}],"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/App"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/jobs":{"get":{"summary":"Get all jobs from your organization (🔥 restricted to administrators)","description":"Get all jobs from your organization.","operationId":"GetJobs","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/JobsApi.html#getjobs"},"tags":["jobs"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Jobs"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/jobs/{id}":{"get":{"tags":["jobs"],"summary":"Get information about a job (🔐 Authenticated users and apps)","description":"Get detailed information about a job, including its status, progress, logs...","operationId":"GetJob","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/JobsApi.html#getjob"},"security":[{"bearerAuth":[]},{"appsecret":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"The job ID."}],"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/jobs/provisioning":{"post":{"tags":["jobs"],"summary":"Create a new provisioning job (🔐 Authenticated users and apps)","description":"Create a new provisioning job by sending a ProvisioningRequest.","operationId":"CreateProvisioningJob","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/JobsApi.html#createprovisioningjob"},"security":[{"bearerAuth":[]},{"appsecret":[]}],"requestBody":{"description":"A ProvisioningRequest object describing the job to execute.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProvisioningRequest"}}}},"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Job"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/approvals":{"get":{"summary":"Get all approvals from your organization (🔥 restricted to administrators)","description":"Get all approvals from your organization.","operationId":"GetApprovals","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/ApprovalsApi.html#getapprovals"},"tags":["approvals"],"security":[{"bearerAuth":[]},{"appsecret":[]}],"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Approvals"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/approvals/pending":{"get":{"summary":"Get your pending approvals (beeing the requester or an approver) (🔐 Authenticated users)","description":"Get your pending approvals (beeing the requester or an approver).","operationId":"GetPendingApprovals","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/ApprovalsApi.html#getpendingapprovals"},"tags":["approvals"],"security":[{"bearerAuth":[]},{"appsecret":[]}],"responses":{"200":{"description":"Operation executed successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Approvals"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/approvals/{id}/approve":{"post":{"tags":["approvals"],"summary":"Approve a provisioning request (🔐 Authenticated users and apps)","description":"Approve a provisioning request.","operationId":"ApproveApproval","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/ApprovalsApi.html#approveapproval"},"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"The approval workflow ID."}],"requestBody":{"description":"Informations submitted by the approver.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalInfos"}}}},"responses":{"200":{"description":"Operation executed successfully."},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}},"/approvals/{id}/reject":{"post":{"tags":["approvals"],"summary":"Reject a provisioning request (🔐 Authenticated users and apps)","description":"Reject a provisioning request.","operationId":"RejectApproval","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/ApprovalsApi.html#rejectapproval"},"security":[{"bearerAuth":[]}],"parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"string"},"description":"The approval workflow ID."}],"requestBody":{"description":"Informations submitted by the approver.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalInfos"}}}},"responses":{"200":{"description":"Operation executed successfully."},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}}},"components":{"schemas":{"ConnectedAppsIntegration":{"description":"An integration with a connected app.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/ConnectedAppsIntegration.html"},"type":"object"},"StoreTemplates":{"description":"A collection of templates from the public template store.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/StoreTemplate.html"},"type":"array","items":{"$ref":"#/components/schemas/StoreTemplate"}},"StoreTemplate":{"description":"A template from the public template store.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/StoreTemplate.html"},"type":"object"},"StoreCategories":{"description":"A collection of categories from the public template store.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/StoreCategory.html"},"type":"array","items":{"$ref":"#/components/schemas/StoreCategory"}},"StoreCategory":{"description":"A category of templates from the public template store.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/StoreCategory.html"},"properties":{"id":{"description":"Category ID.","type":"string"},"label":{"description":"Collection of localized category labels.","type":"object","properties":{"en-us":{"description":"Category label localized for en-us.","type":"string"},"fr-fr":{"description":"Category label localized for fr-fr.","type":"string"}}},"intro":{"description":"Collection of localized category intros used in the category page.","type":"object","properties":{"en-us":{"description":"Category label localized for en-us.","type":"string"},"fr-fr":{"description":"Category label localized for fr-fr.","type":"string"}}},"slug":{"description":"Category slug used for clean and seo-friendly urls.","type":"string"}}},"CatalogTemplates":{"description":"A collection of templates from your corporate catalog","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/CatalogTemplate.html"},"type":"array","items":{"$ref":"#/components/schemas/CatalogTemplate"}},"CatalogTemplate":{"description":"A template from your corporate catalog.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/CatalogTemplate.html"},"type":"object"},"TemplateIdentifier":{"description":"Object defining the ID of a template.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/TemplateIdentifier.html"},"type":"object","properties":{"id":{"description":"A template ID.","type":"string"}}},"TemplateExportOptions":{"description":"Defines template export options","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/TemplateExportOptions.html"},"type":"object","properties":{"includeDrive":{"description":"Defines if folders and files from the source team should be exported. (Default to false)","type":"boolean"}}},"Apps":{"description":"A collection of SalesTim virtual apps.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/App.html"},"type":"array","items":{"$ref":"#/components/schemas/App"}},"App":{"description":"A SalesTim virtual app.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/App.html"},"properties":{"id":{"description":"The virtual app ID, auto-generated at creation.","type":"string","format":"uuid"},"name":{"description":"The virtual app name.","type":"string","minLength":3,"maxLength":256},"description":{"description":"The virtual app description.","type":"string","minLength":0,"maxLength":1024},"createdBy":{"description":"The ID (From Azure AD) of the user that created the virtual app.","type":"string","format":"uuid"},"createdAt":{"description":"The date of creation of the virtual app.","type":"string","format":"date-time"},"secret":{"description":"The virtual app secret, auto-generated at creation. It may also be regenerated later. Be careful, this property is only available at creation or after an explicit regeneration.\n","type":"string","format":"password"},"enabled":{"description":"The virtual app status, enabled or disabled.","type":"boolean","default":true}}},"Jobs":{"description":"A collection of jobs.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/Jobs.html"},"type":"array","items":{"$ref":"#/components/schemas/Job"}},"Job":{"description":"A job that performs some tasks asynchronously.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/Job"},"properties":{"id":{"description":"The job ID, auto-generated at creation.","type":"string","format":"uuid"},"log":{"description":"The job audit log.","type":"array","items":{"type":"string"}},"type":{"description":"The job type (for instance `ProvisioningRequest`).","type":"string"},"status":{"description":"The job current status.","type":"string","enum":["active","waiting","completed","failed","deleyed","paused","unknownFutureValue"]},"progress":{"description":"The job current progress between 0 and 100.","type":"integer","minimum":0,"maximum":100},"data":{"description":"The job data (for instance a `ProvisioningRequest` object).","type":"object"}}},"ProvisioningRequest":{"description":"A request to provision a team based on a template from your corporate catalog.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/ProvisioningRequest"},"properties":{"templateId":{"description":"The template ID.","type":"string"},"requestedTeamName":{"description":"The requested team name (as it would be filled by a user in our provisioning form). Please note, this name may not be the final one as it could be overwritten by a naming convention.","type":"string"},"requestedTeamDescription":{"description":"The requested team description (as it would be filled by a user in our provisioning form). Please note, this description may not be the final one as it could be overwritten by a naming convention.","type":"string"},"requestedTeamWelcomeMessage":{"description":"The requested team welcome message (as it would be filled by a user in our provisioning form). Please note, this welcome message may not be the final one as it could be overwritten by a naming convention.","type":"string"},"requestedMembers":{"description":"Requested members as an array of objects. Please note, users could be identified either by their ID, UPN or email, therefore you should only fill one of these properties. If multiple properties are filled, the first one will be used using the following order of priority, ID > UPN > email.","type":"array","items":{"type":"object","properties":{"id":{"description":"The user ID (From Azure AD).","type":"string"},"upn":{"description":"The user UPN (From Azure AD).","type":"string"},"email":{"description":"The user email (From Azure AD).","type":"string"}}}},"requestedOwners":{"description":"Requested owners as an array of objects. Please note, users could be identified either by their ID, UPN or email, therefore you should only fill one of these properties. If multiple properties are filled, the first one will be used using the following order of priority, ID > UPN > email.","type":"array","items":{"type":"object","properties":{"id":{"description":"The user ID (From Azure AD).","type":"string"},"upn":{"description":"The user UPN (From Azure AD).","type":"string"},"email":{"description":"The user email (From Azure AD).","type":"string"}}}},"onBehalfOf":{"description":"When creating a new request in `application mode`, indicates that the request should be processed on behalf of a specific user. Please note, users could be identified either by their ID, UPN or email, therefore you should only fill one of these properties. If multiple properties are filled, the first one will be used using the following order of priority, ID > UPN > email. Also, this property is ignored in `delegated mode`.","type":"object","properties":{"id":{"description":"The user ID (From Azure AD).","type":"string"},"upn":{"description":"The user UPN (From Azure AD).","type":"string"},"email":{"description":"The user email (From Azure AD).","type":"string"}}},"integration":{"description":"Describes various properties from the external system and the optional related item this request originates from.","type":"object","properties":{"externalSystem":{"description":"The external system this request originates from. This is an arbitrary string not tied to any enumeration or external reference. For instance \"salesforce\".","type":"string"},"item":{"description":"The item linked to this request.","type":"object","properties":{"id":{"description":"The item ID in the external system. For instance in a SQL database, it could be a row ID, in a CRM, it could be the application-level record ID, in a web page it could be its URL.","type":"string"},"entity":{"description":"The kind of item in the external system. For instance in a SQL database, it could be the name of a table such as \"orders\", in a CRM, it could be the record type such as \"accounts\".","type":"string"},"data":{"description":"Item data that could be used as part of the templating process.","type":"object"}}}}}},"required":["templateId","requestedTeamName"]},"Approvals":{"description":"A collection of approvals from your organization.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/Approvals.html"},"type":"array","items":{"$ref":"#/components/schemas/Approval"}},"Approval":{"description":"An approval from your organization.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/Approval.html"},"type":"object"},"ApprovalInfos":{"description":"Informations submitted by the approver of a provisioning workflow.","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/ApprovalInfos.html"},"type":"object","properties":{"approvalMessage":{"description":"Message sent by the approver to the requester in case of approval.","type":"string"},"rejectionMessage":{"description":"Message sent by the approver to the requester in case of rejection.","type":"string"}}}},"securitySchemes":{"bearerAuth":{"description":"A valid Microsoft 365 access_token issued by Azure AD.","type":"http","scheme":"bearer","bearerFormat":"JWT"},"appSecret":{"description":"A valid virtual app secret issued by SalesTim.","type":"apiKey","in":"header","name":"X-API-KEY"}},"responses":{"Success":{"description":"Operation executed successfully."},"UnauthorizedError":{"description":"Access token or API key are missing or invalid."},"NotFoundError":{"description":"The ressource cannot be found."},"TooManyRequests":{"description":"Too many requests. Your request has been throttled. Look at the \"Retry-After\" header and see our [Throttling](https://developers.salestim.com/api/throttling.html) article for more information."},"InternalServerError":{"description":"The server encountered an unexpected condition that prevented it from fulfilling the request. See our [Authenticate with SalesTim API](https://developers.salestim.com/api/getting-started.html#authenticate-with-salestim-api) article for more information."},"ServiceUnavailable":{"description":"Service unavailable."}}}}