swagger: "2.0"
info:
  version: "1.0.0"
  title: SalesTim Governance Automation
  description: >
    Automate the governance, compliance and security of your Microsoft Teams environment.
  contact:
    name: SalesTim Support
    url: https://developers.salestim.com/api
    email: support@salestim.com

host: api.salestim.io
basePath: /v1.0
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

securityDefinitions:
  oauth2_auth:
    type: oauth2
    flow: accessCode
    authorizationUrl: https://login.windows.net/common/oauth2/authorize
    tokenUrl: https://login.windows.net/common/oauth2/authorize
    scopes: {'https://graph.microsoft.com/.default': 'https://graph.microsoft.com/.default'}
security:
- oauth2_auth: ['https://graph.microsoft.com/.default']

tags:
  - name: catalog
    description: Your corporate catalog of teams templates and governance policies. See our [Key Concepts / Corporate Catalog](https://developers.salestim.com/api/key-concepts.html#corporate-catalog) article for more information.
    externalDocs:
      url: https://developers.salestim.com/api/reference/Apis/CatalogApi
  - name: teams
    description: Teams from your Microsoft Teams environment.
    externalDocs:
      url: https://developers.salestim.com/api/reference/Apis/TeamsApi
  - name: users
    description: Users from your Microsoft 365 environment.
    externalDocs:
      url: https://developers.salestim.com/api/reference/Apis/UsersApi
  - name: jobs
    description: Automated jobs that performs governance operations. See our [Key Concepts / Jobs](https://developers.salestim.com/api/key-concepts.html#jobs) article for more information.
    externalDocs:
      url: https://developers.salestim.com/api/reference/Apis/JobsApi
  - name: labels
    description: Microsoft 365 sensitivity labels. See our [Key Concepts / Labels](https://developers.salestim.com/api/key-concepts.html#labels) article for more information.
    externalDocs:
      url: https://developers.salestim.com/api/reference/Apis/LabelsApi
  - name: hooks
    description: SalesTim Webhooks. See our [Webhooks](https://developers.salestim.com/api/webhooks) article for more information.
    externalDocs:
      url: https://developers.salestim.com/api/reference/Apis/HooksApi

paths:
  /me/catalog/templates:
    get:
      tags:
        - catalog
      summary: Get my teams templates
      description: Get teams templates accessible to the connected user filtered by the audience targeting rules.
      operationId: GetMyCatalogTemplates
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/CatalogApi.html#getmycatalogtemplates
      responses:
        "200":
          description: OK - Returns a CatalogTemplates object (Collection of CatalogTemplate objects).
          schema:
            $ref: "#/definitions/CatalogTemplates"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  /me/labels:
    get:
      tags:
        - labels
      summary: Get my sensitivity labels
      description: Get my Microsoft 365 sensitivity labels.
      operationId: GetMyLabels
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/CatalogApi.html#getmylabels
      responses:
        "200":
          description: OK - Returns a Labels object (Collection of Label objects).
          schema:
            $ref: "#/definitions/Labels"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500" 

  /users:
    get:
      tags:
        - users
      summary: Retreive users from your Microsoft 365 environment
      description: Retreive users from your Microsoft 365 environment.
      operationId: GetUsers
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/CatalogApi.html#getUsers
      responses:
        "200":
          description: OK - Returns a Users object (Collection of User objects).
          schema:
            $ref: "#/definitions/Users"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500" 

  /teams/provisioning:
    post:
      tags:
        - teams
      summary: Create a new team based on a template
      description: Create a new team provisioning job.
      operationId: CreateTeamProvisioningJob
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/JobsApi.html#createteamprovisioningjob
      parameters:
        - in: body
          name: TeamProvisioningRequest
          description: A TeamProvisioningRequest object describing the job to execute.
          required: true
          schema:
            $ref: "#/definitions/TeamProvisioningRequest"
      responses:
        "201":
          description: Created - Returns a Job object.
          schema:
            $ref: "#/definitions/Job"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  /jobs/{JobId}:
    get:
      tags:
        - jobs
      summary: Get information about a job
      description: Get detailed information about a job, including its status, progress, logs...
      operationId: GetJob
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/JobsApi.html#getjob
      parameters:
        - in: path
          name: JobId
          description: The job ID generated during its creation.
          required: true
          type: string
      responses:
        "200":
          description: OK - Returns a Job object.
          schema:
            $ref: "#/definitions/Job"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

  /hooks/signature:
    post:
      tags:
        - hooks
      summary: Generate a signature from a secret and a webhook payload
      description: Generate a signature from a secret and a webhook payload.
      operationId: GenerateHookSignature
      externalDocs:
        url: https://developers.salestim.com/api/webhooks
      parameters:
        - in: body
          name: HookSignatureRequest
          description: A HookSignatureRequest object comprised of the secret and payload.
          required: true
          schema:
            $ref: "#/definitions/HookSignatureRequest"
      responses:
        "200":
          description: Generated - Returns a Hook Signature.
          schema:
            $ref: "#/definitions/HookSignature"
        "400":
          $ref: "#/responses/400"
        "401":
          $ref: "#/responses/401"
        "402":
          $ref: "#/responses/402"
        "403":
          $ref: "#/responses/403"
        "404":
          $ref: "#/responses/404"
        "429":
          $ref: "#/responses/429"
        "500":
          $ref: "#/responses/500"
        "503":
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/500"

definitions:

  Labels:
    title: Labels
    description: A collection of Microsoft 365 sensitivity labels.
    type: object
    properties:
      "@odata.context":
          x-ms-summary: Link to the operation online help
          description: Odata context
          type: string
      "@odata.count":
          description: Number of labels in the collection
          type: integer
          format: int32
      value:
        description: Array of labels
        type: array
        items:
          $ref: "#/definitions/Label"

  Label:
    title: Label
    description: A Microsoft 365 sensitivity label.
    type: object
    properties:
      id:
        title: ID
        description: Label ID
        type: string
      name:
        title: Name
        description: Label name
        type: string
      description:
        title: Description
        description: Label description
        type: string
      color:
        title: Color
        description: Label color
        type: string
      sensitivity:
        title: Sensitivity
        description: Label sensitivity
        type: integer
        format: int32
      tooltip:
        title: Tooltip
        description: Label tooltip
        type: string
      isActive:
        title: Is active
        description: Is label active
        type: boolean
      parent:
        title: Parent
        description: Parent label
        type: string
   
  Users:
    title: Users
    description: A collection of Microsoft 365 users.
    type: object
    properties:
      "@odata.context":
          x-ms-summary: Link to the operation online help
          description: Odata context
          type: string
      "@odata.count":
          description: Number of uisers in the collection
          type: integer
          format: int32
      value:
        description: Array of users
        type: array
        items:
          $ref: "#/definitions/User"

  User:
    title: User
    description: A Microsoft 365 user.
    type: object

  CatalogTemplates:
    title: Catalog Templates
    description: A collection of templates from your corporate catalog. See [https://developers.salestim.com/api/reference/Models/CatalogTemplate](https://developers.salestim.com/api/reference/Models/CatalogTemplate) for more information.
    type: object
    properties:
      "@odata.context":
          x-ms-summary: Link to the operation online help
          description: Odata context
          type: string
      "@odata.count":
          description: Number of templates in the collection
          type: integer
          format: int32
      value:
        description: Array of catalog templates
        type: array
        items:
          $ref: "#/definitions/CatalogTemplate"

  CatalogTemplate:
    title: Catalog Template
    description: A template from your corporate catalog. See [https://developers.salestim.com/api/reference/Models/CatalogTemplate](https://developers.salestim.com/api/reference/Models/CatalogTemplate) for more information.
    type: object
    properties:
      templateConfiguration:
        description: Information about the template and its related policies
        type: object
        properties:
          id:
            description: Template ID.
            type: string
          name:
            description: Template Name.
            type: string
          description:
            description: Template Description.
            type: string
          pictureUrl:
            description: Template Picture URL.
            type: string
          language:
            description: Template Language (e.g. 'en-US').
            type: string
          enabled:
            description: Defines if the template is enabled or not, and therefore available for end-users or not.
            type: string
          system:
            description: Defines if the template should be considered as 'system', and therefore could not be deleted, exported...
            type: string
          singleton:
            description: Defines if the template should restrict the number of associated teams created from itself to one.
            type: string
          domId:
            description: Unique identifier that could be used safely client-side to identify an HTML tag.
            type: string
          approval:
            description: The template approval policy.
            type: object
            properties:
              requireApproval:
                description: Defines if the template requires an approval or not.
                type: string
              approvalTeam:
                $ref: "#/definitions/ApprovalTeamMembers"
          permanentMembership:
            description: The template permanent membership policy.
            type: object
            properties:
              members:
                $ref: "#/definitions/PermanentMembers"
              owners:
                $ref: "#/definitions/PermanentMembers"
          audienceTargeting:
            description: The template audience targeting policy.
            type: object
            properties:
              enabled:
                description: Defines if the template should be restricted to specific audiences or not.
                type: string
              rulesWithTags:
                description: Defines the audience targeting rules (With the tags HTML representation).
                type: string
              rules:
                description: Defines the audience targeting rules (Without the tags HTML representation).
                type: string
      clonedTeam:
        description: Properties of the source team that should be cloned.
        type: object
        properties:
          teamId:
            description: Source team ID.
            type: string
          teamName:
            description: Source team name.
            type: string
          includeApps:
            description: Defines if apps should be cloned from the source team.
            type: string
          includeTabs:
            description: Defines if tabs should be cloned from the source team.
            type: string
          includeSettings:
            description: Defines if the team settings should be cloned from the source team.
            type: string
          includeChannels:
            description: Defines if channels should be cloned from the source team.
            type: string
          includeMembers:
            description: Defines if membership (members and owners) should be cloned from the source team.
            type: string
      newTeam:
        description: Properties of the new team that will be created by the provisioning job.
        type: object
        properties:
          namingConventionWithTags:
            description: Defines the naming convention for the new team name (With the tags HTML representation).
            type: string
          emailConventionWithTags:
            description: Defines the naming convention for the email associated with the underlying group of the new team name (With the tags HTML representation).
            type: string
          descriptionConventionWithTags:
            description: Defines the naming convention for the new team description (With the tags HTML representation).
            type: string
          welcomeMessageConventionWithTags:
            description: Defines the naming convention for the new team welcome message (With the tags HTML representation).
            type: string
          namingConvention:
            description: Defines the naming convention for the new team name (Without the tags HTML representation).
            type: string
          emailConvention:
            description: Defines the naming convention for the email associated with the underlying group of the new team name (Without the tags HTML representation).
            type: string
          descriptionConvention:
            description: Defines the naming convention for the new team description (Without the tags HTML representation).
            type: string
          welcomeMessageConvention:
            description: Defines the naming convention for the new team welcome message (Without the tags HTML representation).
            type: string
          defaultName:
            description: Defines the default team name presented to end-users in the new team provisioning form.
            type: string
          defaultDescription:
            description: Defines the default team description presented to end-users in the new team provisioning form.
            type: string
          defaultWelcomeMessage:
            description: Defines the default team welcome message presented to end-users in the new team provisioning form.
            type: string
          teamPrivacy:
            description: Defines the new team privacy level.
            type: string
            enum:
              - public
              - private
              - unknownFutureValue
          addRequesterAsTeamOwner:
            description: Defines if the requester of the new team should be invited as a team owner or just as a team member.
            type: string
  
  TeamProvisioningRequest:
    title: Team Provisioning Request
    description: A request to provision a team based on a template from your corporate catalog. See [https://developers.salestim.com/api/reference/Models/ProvisioningRequest](https://developers.salestim.com/api/reference/Models/ProvisioningRequest) for more information.
    type: object
    properties:
      template:
        description: Template to be applied to the provisioned team
        type: object
        properties:
          id:
            x-ms-summary: Template ID
            x-ms-visibility: important
            x-ms-dynamic-values:
              operationId: GetMyCatalogTemplates
              value-path: templateConfiguration/id
              value-title: templateConfiguration/name
              value-collection: value
            description: The template ID
            type: string
        required:
          - id
      team:
        description: Properties of the team to be created
        type: object
        properties:
          name:
            x-ms-summary: Team name
            x-ms-visibility: important
            description: Requested team name
            type: string
          description:
            x-ms-summary: Team description
            x-ms-visibility: advanced
            description: Requested team description
            type: string
          welcomeMessage:
            x-ms-summary: Team welcome message
            x-ms-visibility: advanced
            description: Requested team welcome message
            type: string
          membership:
            description: Requested members and owners of the team to be provisioned
            type: object
            properties:
              members:
                $ref: "#/definitions/MembersUserIdentifiers"
              owners:
                $ref: "#/definitions/OwnersUserIdentifiers"
        required:
          - name
      metadata:
        $ref: "#/definitions/AppMetadata"

  MembersUserIdentifiers:
    x-ms-summary: Team members
    x-ms-visibility: advanced
    title: Teams members
    description: An array of UserIdentifier. See [https://developers.salestim.com/api/reference/Models/UserIdentifier](https://developers.salestim.com/api/reference/Models/UserIdentifier) for more information.
    type: array
    items:
      $ref: "#/definitions/MemberUserIdentifier"
  
  OwnersUserIdentifiers:
    x-ms-summary: Team owners
    x-ms-visibility: advanced
    title: Team owners
    description: An array of UserIdentifier. See [https://developers.salestim.com/api/reference/Models/UserIdentifier](https://developers.salestim.com/api/reference/Models/UserIdentifier) for more information.
    type: array
    items:
      $ref: "#/definitions/OwnerUserIdentifier"

  MemberUserIdentifier:
    x-ms-summary: Team member
    title: Team member
    description: Object representing a user. User identifier could be its ID, UPN or email. See See [https://developers.salestim.com/api/reference/Models/UserIdentifier](https://developers.salestim.com/api/reference/Models/UserIdentifier) for more information.
    type: object
    properties:
      id:
        x-ms-summary: ID
        x-ms-dynamic-values:
          operationId: GetUsers
          value-path: id
          value-title: displayName
          value-collection: value
        title: ID
        description: User identifier
        type: string
    required:
      - id
  
  OwnerUserIdentifier:
    x-ms-summary: Team owner
    title: Team owner
    description: Object representing a user. User identifier could be its ID, UPN or email. See See [https://developers.salestim.com/api/reference/Models/UserIdentifier](https://developers.salestim.com/api/reference/Models/UserIdentifier) for more information.
    type: object
    properties:
      id:
        x-ms-summary: ID
        x-ms-dynamic-values:
          operationId: GetUsers
          value-path: id
          value-title: displayName
          value-collection: value
        title: ID
        description: User identifier
        type: string
    required:
      - id

  AppMetadata:
    x-ms-summary: Metadata
    x-ms-visibility: advanced
    title: App Metadata
    description: Metadata from the app client as a JSON object. See [https://developers.salestim.com/api/reference/Models/AppMetadata](https://developers.salestim.com/api/reference/Models/VirtualAppMetadata) for more information.
    type: object
      
  HookSignatureRequest:
    title: Hook Signature Request
    description: A HookSignatureRequest object comprised of the secret and payload.
    type: object
    properties:
      secret:
        x-ms-summary: Webhook secret
        x-ms-visibility: important
        description: Webhook secret
        type: string
      payload:
        x-ms-summary: Webhook payload
        x-ms-visibility: important
        description: Webhook payload
        type: string
    required:
      - secret
      - payload
  
  HookSignature:
    title: Hook Signature
    description: A Hook Signature generated from a secret and a payload.
    type: object
    properties:
      "@odata.context":
          x-ms-summary: Link to the operation online help
          description: Odata context
          type: string
      signature:
          description: Calculated hook signature
          type: string

  PermanentMembers:
    title: Permanent Members
    description: Members of a permanent membership team, as an array of PermanentMember. See [https://developers.salestim.com/api/reference/Models/PermanentMember](https://developers.salestim.com/api/reference/Models/PermanentMember) for more information.
    type: array
    items:
      $ref: "#/definitions/PermanentMember"

  PermanentMember:
    title: Permanent Member
    description: Object representing a permanent member. See See [https://developers.salestim.com/api/reference/Models/PermanentMember](https://developers.salestim.com/api/reference/Models/PermanentMember) for more information.
    type: object
    properties:
      id:
        title: ID
        description: User ID (From Active Directory)
        type: string
      name:
        title: Name
        description: User Display Name (From Active Directory)
        type: string

  ApprovalTeamMembers:
    title: Approval Team Members
    description: Members of an approval team, as an array of ApprovalTeamMember. See [https://developers.salestim.com/api/reference/Models/ApprovalTeamMember](https://developers.salestim.com/api/reference/Models/ApprovalTeamMember) for more information.
    type: array
    items:
      $ref: "#/definitions/ApprovalTeamMember"

  ApprovalTeamMember:
    title: Approval Team Member
    description: Object representing an approval team member. See See [https://developers.salestim.com/api/reference/Models/ApprovalTeamMember](https://developers.salestim.com/api/reference/Models/ApprovalTeamMember) for more information.
    type: object
    properties:
      id:
        title: ID
        description: User ID (From Active Directory)
        type: string
      name:
        title: Name
        description: User Display Name (From Active Directory)
        type: string

  Job:
    title: Job
    description: A job that performs some tasks asynchronously. See [https://developers.salestim.com/api/reference/Models/Job](https://developers.salestim.com/api/reference/Models/Job) for more information.
    type: object
    properties:
      id:
        description: The job ID, auto-generated at creation
        type: string
      log:
        $ref: "#/definitions/JobLogs"
      type:
        description: The job type (for instance `ProvisioningRequest`)
        type: string
      status:
        title: Job Status
        description: The job current status
        type: string
        enum:
          - active
          - waiting
          - completed
          - failed
          - deleyed
          - paused
          - unknownFutureValue
      progress:
        description: The job current progress
        type: integer
        minimum: 0
        maximum: 100
        format: int32
      data:
        description: The job data (for instance a `ProvisioningRequest` object)
        type: object

  JobLogs:
    title: Job Logs
    description: A collection of JobLogsEntry. See [https://developers.salestim.com/api/reference/Models/JobLogs](https://developers.salestim.com/api/reference/Models/JobLogs) for more information.
    type: array
    items:
      $ref: "#/definitions/JobLogsEntry"

  JobLogsEntry:
    title: Job Logs Entry
    description: A job logs entry. See [https://developers.salestim.com/api/reference/Models/JobLogsEntry](https://developers.salestim.com/api/reference/Models/JobLogsEntry) for more information.
    type: string

  ApiError:
    title: API Error
    description: A generic API error
    type: object
    properties:
      "@odata.context":
        description: oData context of the request
        type: string
      error:
        description: JSON representation of the error
        type: object
        properties:
          code:
            description: The HTTP error code
            type: string
          message:
            description: The error message
            type: string
          innerError:
            description: JSON representation of the inner error (If available)
            type: object
            properties:
              date:
                description: Inner error date
                type: string
                format: date-time
              request-id:
                description: Server-side generated unique request identifier
                type: string

responses:
  200:
    description: OK - Indicates that the request has succeeded.
  201:
    description: Created - Indicates that the request has been fulfilled and has resulted in one or more new resources being created.
  202:
    description: Accepted - Indicates that the request has been accepted for processing, but the processing has not been completed.
  400:
    description: Bad Request - Indicates that the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing). See [Handling expected errors](https://developers.salestim.com/api/best-practices.html#handling-expected-errors) article for more information.
    schema:
      $ref: "#/definitions/ApiError"
  401:
    description: Unauthorized - Indicates that the request has not been applied because it lacks valid authentication credentials for the target resource (e.g., missing or invalid access token or API key...). See [Handling expected errors](https://developers.salestim.com/api/best-practices.html#handling-expected-errors) article for more information.
    schema:
      $ref: "#/definitions/ApiError"
  402:
    description: Payment Required - Indicates that the request can not be processed as the client doesn't have a valid subscription. See [Handling expected errors](https://developers.salestim.com/api/best-practices.html#handling-expected-errors) article for more information.
    schema:
      $ref: "#/definitions/ApiError"
  403:
    description: Forbidden - Indicates that the server understood the request but refuses to authorize it. See [Handling expected errors](https://developers.salestim.com/api/best-practices.html#handling-expected-errors) article for more information.
    schema:
      $ref: "#/definitions/ApiError"
  404:
    description: Not Found - Indicates that the origin server did not find a current representation for the target resource or is not willing to disclose that one exists. See [Handling expected errors](https://developers.salestim.com/api/best-practices.html#handling-expected-errors) article for more information.
    schema:
      $ref: "#/definitions/ApiError"
  429:
    description: Too Many Requests - Your request has been throttled as you've reached the maximum number of concurrent calls to our service. Look at the "Retry-After" header. See [API throttling guidance](https://developers.salestim.com/api/throttling.html#salestim-api-throttling-guidance) article for more information.
    schema:
      $ref: "#/definitions/ApiError"
  500:
    description: Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request. See [Handling expected errors](https://developers.salestim.com/api/best-practices.html#handling-expected-errors) article for more information.
    schema:
      $ref: "#/definitions/ApiError"
  503:
    description: Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay. See [Handling expected errors](https://developers.salestim.com/api/best-practices.html#handling-expected-errors) article for more information.
    schema:
      $ref: "#/definitions/ApiError"
