openapi: "3.0.3"

info:
  title: SalesTim API
  description: >
    The unified Microsoft Teams Governance API. Visit our [Tech Hub](https://developers.salestim.com/api/) for more information.
  version: "1.0.0"
  termsOfService: https://www.salestim.com/legal/tos
  contact:
    name: SalesTim Support
    url: https://developers.salestim.com/api
    email: support@salestim.com
  license:
    name: (c) Copyright 2019-2021 SalesTim - all rights reserved.
    url: https://www.salestim.com/legal/eula

servers:
  - url: https://api.salestim.io/v1.0
    description: Production environment
  - url: https://devgmeweb.eu.ngrok.io/v1.0
    description: Development environment
    
tags:
  - name: catalog
    description: Your corporate catalog of teams templates and governance policies.
    externalDocs:
      url: https://developers.salestim.com/api/reference/Apis/CatalogApi
  - name: teams
    description: Teams from your Microsoft Teams environment.
    externalDocs:
      url: https://developers.salestim.com/api/reference/Apis/TeamsApi
  - name: users
    description: Users from your Microsoft 365 environment.
    externalDocs:
      url: https://developers.salestim.com/api/reference/Apis/UsersApi
  - name: jobs
    description: Jobs that performs governance operations.
    externalDocs:
      url: https://developers.salestim.com/api/reference/Apis/JobsApi
  - name: labels
    description: Microsoft 365 sensitivity labels.
    externalDocs:
      url: https://developers.salestim.com/api/reference/Apis/LabelsApi
  - name: hooks
    description: SalesTim Platform Webhooks.
    externalDocs:
      url: https://developers.salestim.com/api/reference/Apis/HooksApi

paths:

  /me/catalog/templates:
    get:
      tags:
        - catalog
      summary: Get my teams templates
      description: Get teams templates accessible to the connected user filtered by the audience targeting rules. TIER 2️⃣ | ROLES > AUTHENTICATED_USER.
      operationId: GetMyCatalogTemplates
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/CatalogApi.html#getmycatalogtemplates
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: language
          description: Optional. Default to 'en'. Language code to be used to filter the colection of templates, for instance 'en' or 'en-uk'.
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK - Returns a CatalogTemplates object (Collection of CatalogTemplate objects).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogTemplates"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "402":
          $ref: "#/components/responses/402"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
        default:
          $ref: "#/components/responses/500"

  /me/labels:
    get:
      tags:
        - labels
      summary: Get my sensitivity labels
      description: Get my Microsoft 365 sensitivity labels. TIER 2️⃣ | ROLES > AUTHENTICATED_USER.
      operationId: GetMyLabels
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/LabelsApi.html#getmylabels
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK - Returns a Labels object (Collection of Label objects).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Labels"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "402":
          $ref: "#/components/responses/402"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
        default:
          $ref: "#/components/responses/500"

  /users:
    get:
      tags:
        - users
      summary: Retreive users from your Microsoft 365 environment
      description: Retreive users from your Microsoft 365 environment. TIER 3️⃣ | ROLES > AUTHENTICATED_USER.
      operationId: GetUsers
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/UsersApi.html#getUsers
      security:
        - bearerAuth: []
      responses:
        "200":
          description: OK - Returns a Users object (Collection of User objects).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Users"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "402":
          $ref: "#/components/responses/402"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
        default:
          $ref: "#/components/responses/500"

  /teams/{teamId}:
    get:
      tags:
        - teams
      summary: Get a team
      description: Get detailed information about a team. TIER 3️⃣ | ROLES > AUTHENTICATED_USER.
      operationId: GetTeam
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/TeamsApi.html#getteam
      security:
        - bearerAuth: []
      parameters:
        - name: teamId
          in: path
          description: The team ID.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK - Returns a Team object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "402":
          $ref: "#/components/responses/402"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
        default:
          $ref: "#/components/responses/500"
  /teams/provisioning:
    post:
      tags:
        - teams
      summary: Create a new team based on a template
      description: Create a new team provisioning job. TIER 1️⃣ | ROLES > AUTHENTICATED_USER.
      operationId: CreateTeamProvisioningJob
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/TeamsApi.html#createteamprovisioningjob
      security:
        - bearerAuth: []
      requestBody:
        description: A TeamProvisioningRequest object describing the job to execute.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TeamProvisioningRequest"
        required: true
      responses:
        "201":
          description: Created - Returns a Job object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "402":
          $ref: "#/components/responses/402"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
        default:
          $ref: "#/components/responses/500"
  /teams/{teamId}/channels:
    get:
      tags:
        - teams
      summary: Get team channels
      description: Get team channels. TIER 3️⃣ | ROLES > AUTHENTICATED_USER.
      operationId: GetTeamChannels
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/TeamsApi.html#getteamchannels
      security:
        - bearerAuth: []
      parameters:
        - name: teamId
          in: path
          description: The team ID.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK - Returns a TeamChannels object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamChannels"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "402":
          $ref: "#/components/responses/402"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
        default:
          $ref: "#/components/responses/500"
    post:
      tags:
        - teams
      summary: Create a new team channel
      description: Create a new team channel. TIER 2️⃣ | ROLES > AUTHENTICATED_USER.
      operationId: CreateTeamChannel
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/TeamsApi.html#createteamchannel
      security:
        - bearerAuth: []
      parameters:
        - name: teamId
          in: path
          description: The team ID.
          required: true
          schema:
            type: string
      requestBody:
        description: A TeamChannelPayload object describing the channel to create.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TeamChannelPayload"
        required: true
      responses:
        "201":
          description: Created - Returns a TeamChannel object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamChannel"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "402":
          $ref: "#/components/responses/402"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
        default:
          $ref: "#/components/responses/500"
  /teams/{teamId}/channels/primary:
    get:
      tags:
        - teams
      summary: Get the primary channel of a team
      description: Get the primary channel of a team. TIER 3️⃣ | ROLES > AUTHENTICATED_USER.
      operationId: GetTeamPrimaryChannel
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/TeamsApi.html#getteamprimarychannel
      security:
        - bearerAuth: []
      parameters:
        - name: teamId
          in: path
          description: The team ID.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK - Returns a TeamChannel object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamChannel"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "402":
          $ref: "#/components/responses/402"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
        default:
          $ref: "#/components/responses/500"
  /teams/{teamId}/channels/{channelId}/tabs:
    get:
      tags:
        - teams
      summary: Get team channel tabs
      description: Get team channel tabs. TIER 3️⃣ | ROLES > AUTHENTICATED_USER.
      operationId: GetTeamChannelTabs
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/TeamsApi.html#getteamchanneltabs
      security:
        - bearerAuth: []
      parameters:
        - name: teamId
          in: path
          description: The team ID.
          required: true
          schema:
            type: string
        - name: channelId
          in: path
          description: The team channel ID.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK - Returns a TeamChannelTabs object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamChannelTabs"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "402":
          $ref: "#/components/responses/402"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
        default:
          $ref: "#/components/responses/500"
    post:
      tags:
        - teams
      summary: Create a new team channel tab
      description: Create a new team channel tab. TIER 2️⃣ | ROLES > AUTHENTICATED_USER.
      operationId: CreateTeamChannelTab
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/TeamsApi.html#createteamchanneltab
      security:
        - bearerAuth: []
      parameters:
        - name: teamId
          in: path
          description: The team ID.
          required: true
          schema:
            type: string
        - name: channelId
          in: path
          description: The team channel ID.
          required: true
          schema:
            type: string
      requestBody:
        description: A TeamChannelTabPayload object describing the tab to create.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TeamChannelTabPayload"
        required: true
      responses:
        "201":
          description: Created - Returns a TeamChannelTab object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamChannelTab"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "402":
          $ref: "#/components/responses/402"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
        default:
          $ref: "#/components/responses/500"

  /jobs/{jobId}:
    get:
      tags:
        - jobs
      summary: Get information about a job
      description: Get detailed information about a job, including its status, progress, logs... TIER 2️⃣ | ROLES > AUTHENTICATED_USER.
      operationId: GetJob
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/JobsApi.html#getjob
      security:
        - bearerAuth: []
      parameters:
        - name: jobId
          in: path
          description: The job ID.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK - Returns a Job object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "402":
          $ref: "#/components/responses/402"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
        default:
          $ref: "#/components/responses/500"


  /hooks/events:
    get:
      tags:
        - hooks
      summary: Get webhooks events
      description: Get webhooks events. TIER 3️⃣ | ROLES > AUTHENTICATED_USER.
      operationId: GetHooksEvents
      security:
        - bearerAuth: []
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/HooksApi.html#gethooksevents
      responses:
        "200":
          description: OK - Returns a HooksEvents object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HooksEvents"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "402":
          $ref: "#/components/responses/402"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
        default:
          $ref: "#/components/responses/500"

  /hooks/signature:
    post:
      tags:
        - hooks
      summary: Generate a signature from a secret and a webhook payload
      description: Generate a signature from a secret and a webhook payload. TIER 3️⃣ | ROLES > AUTHENTICATED_USER.
      operationId: GenerateHookSignature
      security:
        - bearerAuth: []
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/HooksApi.html#generatehooksignature
      requestBody:
        description: A HookSignatureRequest object comprised of the secret and payload.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HookSignatureRequest"
        required: true
      responses:
        "200":
          description: Generated - Returns a HookSignature.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HookSignature"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "402":
          $ref: "#/components/responses/402"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
        default:
          $ref: "#/components/responses/500"
  /hooks:
    post:
      tags:
        - hooks
      summary: Create a new webhook
      description: Create a new webhook. TIER 2️⃣ | ROLES > AUTHENTICATED_USER.
      operationId: CreateHook
      security:
        - bearerAuth: []
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/HooksApi.html#createhook
      requestBody:
        description: A HookPayload object.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HookPayload"
        required: true
      responses:
        "201":
          description: Created - Returns a Hook object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Hook"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "402":
          $ref: "#/components/responses/402"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
        default:
          $ref: "#/components/responses/500"
  /hooks/{hookId}:
    delete:
      tags:
        - hooks
      summary: Delete a webhook
      description: Delete a webhook. TIER 2️⃣ | ROLES > AUTHENTICATED_USER.
      operationId: DeleteHook
      security:
        - bearerAuth: []
      externalDocs:
        url: https://developers.salestim.com/api/reference/Apis/HooksApi.html#deletehook
      parameters:
        - name: hookId
          in: path
          description: ID of the webhook to be deleted.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK - Returns the deleted Hook object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Hook"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "402":
          $ref: "#/components/responses/402"
        "403":
          $ref: "#/components/responses/403"
        "404":
          $ref: "#/components/responses/404"
        "429":
          $ref: "#/components/responses/429"
        "500":
          $ref: "#/components/responses/500"
        "503":
          $ref: "#/components/responses/503"
        default:
          $ref: "#/components/responses/500"

components:

  securitySchemes:
    bearerAuth:
      description: A valid Microsoft 365 access_token issued by Azure AD.
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Team:
      title: Team
      description: A Microsoft Teams team.
      type: object
      properties:
        "@odata.context":
          title: OData Context
          description: OData Context
          type: string
        id:
          title: Team ID
          description: Team ID
          type: string
        createdDateTime:
          title: Team Created Date Time
          description: Team Created Date Time
          type: string
        displayName:
          title: Team Display Name
          description: Team Display Name
          type: string
        description:
          title: Team Description
          description: Team Description
          type: string
        internalId:
          title: Team Internal ID
          description: Team Internal ID
          type: string
        classification:
          title: Team Classification
          description: Team Classification
          type: string
        specialization:
          title: Team Specialization
          description: Team Specialization
          type: string
        visibility:
          title: Team Visibility
          description: Team Visibility
          type: string
        webUrl:
          title: Team Web URL
          description: Team Web URL
          type: string
        isArchived:
          title: Team Is Archived
          description: Team Is Archived
          type: boolean
        isMembershipLimitedToOwners:
          title: Team Is Membership Limited To Owners
          description: Team Is Membership Limited To Owners
          type: boolean
        discoverySettings:
          type: object
          properties:
            showInTeamsSearchAndSuggestions:
              title: Shown in search suggestions
              description: Is the team shown in search suggestions
              type: boolean
        memberSettings:
          type: object
          properties:
            allowCreateUpdateChannels:
              title: Allow create Update Channels
              description: Allow create update channels
              type: boolean
            allowCreatePrivateChannels:
              title: Allow create private channels
              description: Allow create private channels
              type: boolean
            allowDeleteChannels:
              title: Allow delete channels
              description: Allow delete channels
              type: boolean
            allowAddRemoveApps:
              title: Allow add/remove apps
              description: Allow add/remove apps
              type: boolean
            allowCreateUpdateRemoveTabs:
              title: Allow create/remove tabs
              description: Allow create/remove tabs
              type: boolean
            allowCreateUpdateRemoveConnectors:
              title: Allow create/remove connectors
              description: Allow create/remove connectors
              type: boolean
        guestSettings:
          type: object
          properties:
            allowCreateUpdateChannels:
              title: Allow create/update channels by guests
              description: Allow create/update channels by guests
              type: boolean
            allowDeleteChannels:
              title: Allow delete channels by guests
              description: Allow delete channels by guests
              type: boolean
        messagingSettings:
          type: object
          properties:
            allowUserEditMessages:
              title: Allow users to edit messages
              description: Allow users to edit messages
              type: boolean
            allowUserDeleteMessages:
              title: Allow users to delete their own messages
              description: Allow users to delete their own messages
              type: boolean
            allowOwnerDeleteMessages:
              title: Allow owners to delete messages
              description: Allow owners to delete messages
              type: boolean
            allowTeamMentions:
              title: Allow team mentions
              description: Allow team mentions
              type: boolean
            allowChannelMentions:
              title: Allow channel mentions
              description: Allow channel mentions
              type: boolean
        funSettings:
          type: object
          properties:
            allowGiphy:
              title: Allow Giphy
              description: Allow Giphy
              type: boolean
            giphyContentRating:
              title: Giphy content rating level
              description: Giphy content rating level
              type: string
            allowStickersAndMemes:
              title: Allow stickers and memes
              description: Allow stickers and memes
              type: boolean
            allowCustomMemes:
              title: Allow custom memes
              description: Allow custom memes
              type: boolean

    TeamChannels:
      title: Team Channels
      description: Channels of a Microsoft Teams team.
      type: array
      items:
        $ref: "#/components/schemas/TeamChannel"

    TeamChannel:
      title: Team Channel
      description: Channel of a Microsoft Teams team.
      type: object
      properties:
        id:
          title: Team Channel ID
          description: Team Channel ID
          type: string
        createdDateTime:
          title: Team Channel Created Date Time
          description: Team Channel Created Date Time
          type: string
        displayName:
          title: Team Channel Display Name
          description: Team Channel Display Name
          type: string
        description:
          title: Team Channel Description
          description: Team Channel Description
          type: string
        membershipType:
          title: Team Channel Membership Type
          description: Team Channel Membership Type
          type: string

    TeamChannelPayload:
      title: Team Channel Payload
      description: Payload of a Microsoft Teams team channel to be created/updated.
      type: object

    TeamChannelTabs:
      title: Team Channels
      description: Tabs from a Channel of a Microsoft Teams team.
      type: array
      items:
        $ref: "#/components/schemas/TeamChannelTab"

    TeamChannelTab:
      title: Team Channel Tab
      description: Tab from a Channel of a Microsoft Teams team.
      type: object
      properties:
        id:
          title: Team Channel Tab ID
          description: Team Channel Tab ID
          type: string
        displayName:
          title: Team Channel Tab Display Name
          description: Team Channel Tab Display Name
          type: string
        configuration:
          type: object
          properties:
            entityId:
              title: Team Channel Tab Configuration Entity ID
              description: Team Channel Tab Configuration Entity ID
              type: string
            contentUrl:
              title: Team Channel Tab Configuration Content URL
              description: Team Channel Tab Configuration Content URL
              type: string
            websiteUrl:
              title: Team Channel Tab Configuration Website URL
              description: Team Channel Tab Configuration Website URL
              type: string
            removeUrl:
              title: Team Channel Tab Configuration Remove URL
              description: Team Channel Tab Configuration Remove URL
              type: string
        teamsApp:
          type: object
          properties:
            id:
              title: Team Channel Tab Teams App ID
              description: Team Channel Tab Teams App ID
              type: string
            externalId:
              title: Team Channel Tab Teams App External ID
              description: Team Channel Tab Teams App External ID
              type: string
            displayName:
              title: Team Channel Tab Teams App Display Name
              description: Team Channel Tab Teams App Display Name
              type: string
            distributionMethod:
              title: Team Channel Tab Teams App Distribution Method
              description: Team Channel Tab Teams App Distribution Method
              type: string
        sortOrderIndex:
          title: Team Channel Tab Sort Order Index
          description: Team Channel Tab Sort Order Index
          type: string
        webUrl:
          title: Team Channel Tab Web URL
          description: Team Channel Tab Web URL
          type: string

    TeamChannelTabPayload:
      title: Team Channel Tab Payload
      description: Payload of a Microsoft Teams team channel tab to be created/updated.
      type: object

    Labels:
      title: Labels
      description: A collection of Microsoft 365 sensitivity labels.
      type: object
      properties:
        "@odata.context":
          description: Odata context
          type: string
        "@odata.count":
          description: Number of labels in the collection
          type: integer
          format: int32
        value:
          description: Array of labels
          type: array
          items:
            $ref: "#/components/schemas/Label"

    Label:
      title: Label
      description: A Microsoft 365 sensitivity label.
      type: object
      properties:
        id:
          title: ID
          description: Label ID
          type: string
        name:
          title: Name
          description: Label name
          type: string
        description:
          title: Description
          description: Label description
          type: string
        color:
          title: Color
          description: Label color
          type: string
        sensitivity:
          title: Sensitivity
          description: Label sensitivity
          type: integer
          format: int32
        tooltip:
          title: Tooltip
          description: Label tooltip
          type: string
        isActive:
          title: Is active
          description: Is label active
          type: boolean
        parent:
          title: Parent
          description: Parent label
          type: string

    Users:
      title: Users
      description: A collection of Microsoft 365 users.
      type: object
      properties:
        "@odata.context":
          description: Odata context
          type: string
        "@odata.count":
          description: Number of uisers in the collection
          type: integer
          format: int32
        value:
          description: Array of users
          type: array
          items:
            $ref: "#/components/schemas/User"

    User:
      title: User
      description: A Microsoft 365 user.
      type: object

    CatalogTemplates:
      title: Catalog Templates
      description: A collection of templates from your corporate catalog. See [https://developers.salestim.com/api/reference/Models/CatalogTemplate](https://developers.salestim.com/api/reference/Models/CatalogTemplate) for more information.
      type: object
      properties:
        "@odata.context":
          description: Odata context
          type: string
        "@odata.count":
          description: Number of templates in the collection
          type: integer
          format: int32
        value:
          description: Array of catalog templates
          type: array
          items:
            $ref: "#/components/schemas/CatalogTemplate"

    CatalogTemplate:
      title: Catalog Template
      description: A template from your corporate catalog. See [https://developers.salestim.com/api/reference/Models/CatalogTemplate](https://developers.salestim.com/api/reference/Models/CatalogTemplate) for more information.
      type: object
      properties:
        templateConfiguration:
          description: Information about the template and its related policies
          type: object
          properties:
            id:
              description: Template ID.
              type: string
            name:
              description: Template Name.
              type: string
            description:
              description: Template Description.
              type: string
            pictureUrl:
              description: Template Picture URL.
              type: string
            language:
              description: Template Language (e.g. 'en-US').
              type: string
            enabled:
              description: Defines if the template is enabled or not, and therefore available for end-users or not.
              type: string
            system:
              description: Defines if the template should be considered as 'system', and therefore could not be deleted, exported...
              type: string
            singleton:
              description: Defines if the template should restrict the number of associated teams created from itself to one.
              type: string
            domId:
              description: Unique identifier that could be used safely client-side to identify an HTML tag.
              type: string
            approval:
              description: The template approval policy.
              type: object
              properties:
                requireApproval:
                  description: Defines if the template requires an approval or not.
                  type: string
                approvalTeam:
                  $ref: "#/components/schemas/ApprovalTeamMembers"
            permanentMembership:
              description: The template permanent membership policy.
              type: object
              properties:
                members:
                  $ref: "#/components/schemas/PermanentMembers"
                owners:
                  $ref: "#/components/schemas/PermanentMembers"
            audienceTargeting:
              description: The template audience targeting policy.
              type: object
              properties:
                enabled:
                  description: Defines if the template should be restricted to specific audiences or not.
                  type: string
                rulesWithTags:
                  description: Defines the audience targeting rules (With the tags HTML representation).
                  type: string
                rules:
                  description: Defines the audience targeting rules (Without the tags HTML representation).
                  type: string
        clonedTeam:
          description: Properties of the source team that should be cloned.
          type: object
          properties:
            teamId:
              description: Source team ID.
              type: string
            teamName:
              description: Source team name.
              type: string
            includeApps:
              description: Defines if apps should be cloned from the source team.
              type: string
            includeTabs:
              description: Defines if tabs should be cloned from the source team.
              type: string
            includeSettings:
              description: Defines if the team settings should be cloned from the source team.
              type: string
            includeChannels:
              description: Defines if channels should be cloned from the source team.
              type: string
            includeMembers:
              description: Defines if membership (members and owners) should be cloned from the source team.
              type: string
        newTeam:
          description: Properties of the new team that will be created by the provisioning job.
          type: object
          properties:
            namingConventionWithTags:
              description: Defines the naming convention for the new team name (With the tags HTML representation).
              type: string
            emailConventionWithTags:
              description: Defines the naming convention for the email associated with the underlying group of the new team name (With the tags HTML representation).
              type: string
            descriptionConventionWithTags:
              description: Defines the naming convention for the new team description (With the tags HTML representation).
              type: string
            welcomeMessageConventionWithTags:
              description: Defines the naming convention for the new team welcome message (With the tags HTML representation).
              type: string
            namingConvention:
              description: Defines the naming convention for the new team name (Without the tags HTML representation).
              type: string
            emailConvention:
              description: Defines the naming convention for the email associated with the underlying group of the new team name (Without the tags HTML representation).
              type: string
            descriptionConvention:
              description: Defines the naming convention for the new team description (Without the tags HTML representation).
              type: string
            welcomeMessageConvention:
              description: Defines the naming convention for the new team welcome message (Without the tags HTML representation).
              type: string
            defaultName:
              description: Defines the default team name presented to end-users in the new team provisioning form.
              type: string
            defaultDescription:
              description: Defines the default team description presented to end-users in the new team provisioning form.
              type: string
            defaultWelcomeMessage:
              description: Defines the default team welcome message presented to end-users in the new team provisioning form.
              type: string
            teamPrivacy:
              description: Defines the new team privacy level.
              type: string
              enum:
                - public
                - private
                - unknownFutureValue
            addRequesterAsTeamOwner:
              description: Defines if the requester of the new team should be invited as a team owner or just as a team member.
              type: string

    TeamProvisioningRequest:
      title: Team Provisioning Request
      description: A request to provision a team based on a template from your corporate catalog. See [https://developers.salestim.com/api/reference/Models/ProvisioningRequest](https://developers.salestim.com/api/reference/Models/ProvisioningRequest) for more information.
      type: object
      properties:
        template:
          description: Template to be applied to the provisioned team
          type: object
          properties:
            id:
              description: The template ID
              type: string
          required:
            - id
        team:
          description: Properties of the team to be created
          type: object
          properties:
            name:
              description: Requested team name
              type: string
            description:
              description: Requested team description
              type: string
            welcomeMessage:
              description: Requested team welcome message
              type: string
            membership:
              description: Requested members and owners of the team to be provisioned
              type: object
              properties:
                members:
                  $ref: "#/components/schemas/MembersUserIdentifiers"
                owners:
                  $ref: "#/components/schemas/OwnersUserIdentifiers"
          required:
            - name
        metadata:
          $ref: "#/components/schemas/AppMetadata"

    MembersUserIdentifiers:
      title: Teams members
      description: An array of UserIdentifier. See [https://developers.salestim.com/api/reference/Models/UserIdentifier](https://developers.salestim.com/api/reference/Models/UserIdentifier) for more information.
      type: array
      items:
        $ref: "#/components/schemas/MemberUserIdentifier"

    OwnersUserIdentifiers:
      title: Team owners
      description: An array of UserIdentifier. See [https://developers.salestim.com/api/reference/Models/UserIdentifier](https://developers.salestim.com/api/reference/Models/UserIdentifier) for more information.
      type: array
      items:
        $ref: "#/components/schemas/OwnerUserIdentifier"

    MemberUserIdentifier:
      title: Team member
      description: Object representing a user. User identifier could be its ID, UPN or email. See See [https://developers.salestim.com/api/reference/Models/UserIdentifier](https://developers.salestim.com/api/reference/Models/UserIdentifier) for more information.
      type: object
      properties:
        id:
          title: ID
          description: User identifier
          type: string
      required:
        - id

    OwnerUserIdentifier:
      title: Team owner
      description: Object representing a user. User identifier could be its ID, UPN or email. See See [https://developers.salestim.com/api/reference/Models/UserIdentifier](https://developers.salestim.com/api/reference/Models/UserIdentifier) for more information.
      type: object
      properties:
        id:
          title: ID
          description: User identifier
          type: string
      required:
        - id

    AppMetadata:
      title: App Metadata
      description: Metadata from the app client as a JSON object. See [https://developers.salestim.com/api/reference/Models/AppMetadata](https://developers.salestim.com/api/reference/Models/VirtualAppMetadata) for more information.
      type: object

    Hook:
      title: Webhook
      description: A webhook.
      type: object
      properties:
        id:
          description: Webhook ID
          type: string
        name:
          description: Webhook name
          type: string
        description:
          description: Webhook description
          type: string
        active:
          description: Is the webhook active
          type: boolean
        events:
          $ref: "#/components/schemas/HookEvents"
        config:
          description: Webhook configuration
          type: object
          properties:
            verb:
              description: Webhook configuration verb
              type: string
            url:
              description: Webhook configuration url
              type: string
            content_type:
              description: Webhook configuration content type
              type: string
            secret:
              description: Webhook configuration secret
              type: string

    HookPayload:
      title: Webhook Payload
      description: A webhook payload.
      type: object
      properties:
        name:
          description: Webhook name
          type: string
        description:
          description: Webhook description
          type: string
        events:
          $ref: "#/components/schemas/HookEvents"
        config:
          description: Webhook configuration
          type: object
          properties:
            verb:
              description: Webhook configuration verb
              type: string
            url:
              description: Webhook configuration url
              type: string
            content_type:
              description: Webhook configuration content type
              type: string
            secret:
              description: Webhook configuration secret
              type: string

    HooksEvents:
      title: Hooks events
      description: A collection of webhook events.
      type: object
      properties:
        "@odata.context":
          description: Odata context
          type: string
        "@odata.count":
          description: Number of events in the collection
          type: integer
          format: int32
        value:
          description: Array of HookEvent
          type: array
          items:
            $ref: "#/components/schemas/HookEvent"

    HookEvent:
      title: Webhook event
      description: Webhook event
      type: object
      properties:
        code:
          $ref: "#/components/schemas/HookEventCode"
    
    HookEvents:
      title: Webhook events
      description: Webhook events
      type: array
      items:
        $ref: "#/components/schemas/HookEventCode"

    HookEventCode:
      title: Webhook event code
      description: Webhook event code
      type: string

    HookSignatureRequest:
      title: Hook Signature Request
      description: A HookSignatureRequest object comprised of the secret and payload.
      type: object
      properties:
        secret:
          description: Webhook secret
          type: string
        payload:
          description: Webhook payload
          type: string
      required:
        - secret
        - payload

    HookSignature:
      title: Hook Signature
      description: A Hook Signature generated from a secret and a payload.
      type: object
      properties:
        "@odata.context":
          description: Odata context
          type: string
        signature:
          description: Calculated hook signature
          type: string

    PermanentMembers:
      title: Permanent Members
      description: Members of a permanent membership team, as an array of PermanentMember. See [https://developers.salestim.com/api/reference/Models/PermanentMember](https://developers.salestim.com/api/reference/Models/PermanentMember) for more information.
      type: array
      items:
        $ref: "#/components/schemas/PermanentMember"

    PermanentMember:
      title: Permanent Member
      description: Object representing a permanent member. See See [https://developers.salestim.com/api/reference/Models/PermanentMember](https://developers.salestim.com/api/reference/Models/PermanentMember) for more information.
      type: object
      properties:
        id:
          title: ID
          description: User ID (From Active Directory)
          type: string
        name:
          title: Name
          description: User Display Name (From Active Directory)
          type: string

    ApprovalTeamMembers:
      title: Approval Team Members
      description: Members of an approval team, as an array of ApprovalTeamMember. See [https://developers.salestim.com/api/reference/Models/ApprovalTeamMember](https://developers.salestim.com/api/reference/Models/ApprovalTeamMember) for more information.
      type: array
      items:
        $ref: "#/components/schemas/ApprovalTeamMember"

    ApprovalTeamMember:
      title: Approval Team Member
      description: Object representing an approval team member. See See [https://developers.salestim.com/api/reference/Models/ApprovalTeamMember](https://developers.salestim.com/api/reference/Models/ApprovalTeamMember) for more information.
      type: object
      properties:
        id:
          title: ID
          description: User ID (From Active Directory)
          type: string
        name:
          title: Name
          description: User Display Name (From Active Directory)
          type: string

    Job:
      title: Job
      description: A job that performs some tasks asynchronously. See [https://developers.salestim.com/api/reference/Models/Job](https://developers.salestim.com/api/reference/Models/Job) for more information.
      type: object
      properties:
        id:
          description: The job ID, auto-generated at creation
          type: string
        log:
          $ref: "#/components/schemas/JobLogs"
        type:
          description: The job type (for instance `ProvisioningRequest`)
          type: string
        status:
          title: Job Status
          description: The job current status
          type: string
          enum:
            - active
            - waiting
            - completed
            - failed
            - deleyed
            - paused
            - unknownFutureValue
        progress:
          description: The job current progress
          type: integer
          minimum: 0
          maximum: 100
          format: int32
        data:
          description: The job data (for instance a `ProvisioningRequest` object)
          type: object

    JobLogs:
      title: Job Logs
      description: A collection of JobLogsEntry. See [https://developers.salestim.com/api/reference/Models/JobLogs](https://developers.salestim.com/api/reference/Models/JobLogs) for more information.
      type: array
      items:
        $ref: "#/components/schemas/JobLogsEntry"

    JobLogsEntry:
      title: Job Logs Entry
      description: A job logs entry. See [https://developers.salestim.com/api/reference/Models/JobLogsEntry](https://developers.salestim.com/api/reference/Models/JobLogsEntry) for more information.
      type: string

    ApiError:
      title: API Error
      description: A generic API error
      type: object
      properties:
        "@odata.context":
          description: oData context of the request
          type: string
        error:
          description: JSON representation of the error
          type: object
          properties:
            code:
              description: The HTTP error code
              type: string
            message:
              description: The error message
              type: string
            innerError:
              description: JSON representation of the inner error (If available)
              type: object
              properties:
                date:
                  description: Inner error date
                  type: string
                  format: date-time
                request-id:
                  description: Server-side generated unique request identifier
                  type: string

  responses:
    200:
      description: OK - Indicates that the request has succeeded.
    201:
      description: Created - Indicates that the request has been fulfilled and has resulted in one or more new resources being created.
    202:
      description: Accepted - Indicates that the request has been accepted for processing, but the processing has not been completed.
    400:
      description: Bad Request - Indicates that the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing). See [Handling expected errors](https://developers.salestim.com/api/best-practices.html#handling-expected-errors) article for more information.
      content: 
        application/json:
          schema:
              $ref: "#/components/schemas/ApiError"
    401:
      description: Unauthorized - Indicates that the request has not been applied because it lacks valid authentication credentials for the target resource (e.g., missing or invalid access token or API key...). See [Handling expected errors](https://developers.salestim.com/api/best-practices.html#handling-expected-errors) article for more information.
      content: 
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    402:
      description: Payment Required - Indicates that the request can not be processed as the client doesn't have a valid subscription. See [Handling expected errors](https://developers.salestim.com/api/best-practices.html#handling-expected-errors) article for more information.
      content: 
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    403:
      description: Forbidden - Indicates that the server understood the request but refuses to authorize it. See [Handling expected errors](https://developers.salestim.com/api/best-practices.html#handling-expected-errors) article for more information.
      content: 
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    404:
      description: Not Found - Indicates that the origin server did not find a current representation for the target resource or is not willing to disclose that one exists. See [Handling expected errors](https://developers.salestim.com/api/best-practices.html#handling-expected-errors) article for more information.
      content: 
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    429:
      description: Too Many Requests - Your request has been throttled as you've reached the maximum number of concurrent calls to our service. Look at the "Retry-After" header. See [API throttling guidance](https://developers.salestim.com/api/throttling.html#salestim-api-throttling-guidance) article for more information.
      content: 
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    500:
      description: Internal Server Error - Indicates that the server encountered an unexpected condition that prevented it from fulfilling the request. See [Handling expected errors](https://developers.salestim.com/api/best-practices.html#handling-expected-errors) article for more information.
      content: 
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
    503:
      description: Service Unavailable - Indicates that the server is currently unable to handle the request due to a temporary overload or scheduled maintenance, which will likely be alleviated after some delay. See [Handling expected errors](https://developers.salestim.com/api/best-practices.html#handling-expected-errors) article for more information.
      content: 
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
