{"swagger":"2.0","info":{"version":"1.0.0","title":"SalesTim Admin API","description":"Performs administrative requests on the SalesTim Platform\n","contact":{"email":"support@salestim.com","name":"SalesTim Support","url":"https://developers.salestim.com/api"}},"host":"api.salestim.io","basePath":"/v1.0","securityDefinitions":{"oauth2_auth":{"authorizationUrl":"https://login.windows.net/common/oauth2/authorize","flow":"accessCode","scopes":{"offline_access":"offline_access"},"tokenUrl":"https://login.windows.net/common/oauth2/authorize","type":"oauth2"}},"schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/catalog/templates":{"get":{"summary":"Get all templates from your corporate catalog","description":"Get all templates from your corporate catalog","operationId":"GetCatalogTemplates","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/CatalogApi.html#getcatalogtemplates"},"tags":["Catalog"],"security":[{"oauth2_auth":["offline_access"]}],"responses":{"200":{"description":"Operation executed successfully.","schema":{"type":"array","items":{"$ref":"#/definitions/CatalogTemplate"}},"headers":{}},"401":{"description":"API key or app id are missing or invalid.","schema":{}},"404":{"description":"The ressource cannot be found.","schema":{}},"429":{"description":"Too many requests. Your request has been throttled.","schema":{}},"500":{"description":"The server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{}},"default":{"description":"The server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{}}}}},"/apps":{"get":{"tags":["Apps"],"summary":"Get all virtual apps in a tenant","description":"Get all virtual apps in a tenant","operationId":"GetApps","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/AppsApi.html#getapps"},"security":[{"oauth2_auth":["offline_access"]}],"responses":{"200":{"description":"Operation executed successfully.","schema":{"type":"array","items":{"$ref":"#/definitions/ArrayOfApps"}},"headers":{}},"401":{"description":"API key or app id are missing or invalid.","schema":{}},"404":{"description":"The ressource cannot be found.","schema":{}},"429":{"description":"Too many requests. Your request has been throttled.","schema":{}},"500":{"description":"The server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{}},"default":{"description":"The server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{}}}},"post":{"tags":["Apps"],"summary":"Create a virtual app","description":"Create a new virtual app and get its generated ID and secret.","operationId":"CreateApp","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/AppsApi.html#createapp"},"security":[{"oauth2_auth":["offline_access"]}],"parameters":[{"name":"body","in":"body","required":true,"description":"List of properties to be updated.","schema":{"$ref":"#/components/schemas/App"}}],"responses":{"200":{"description":"Operation executed successfully.","schema":{"type":"array","items":{"$ref":"#/definitions/App"}},"headers":{}},"401":{"description":"API key or app id are missing or invalid.","schema":{}},"404":{"description":"The ressource cannot be found.","schema":{}},"429":{"description":"Too many requests. Your request has been throttled.","schema":{}},"500":{"description":"The server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{}},"default":{"description":"The server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{}}}}},"/apps/{id}/regenerateSecret":{"post":{"tags":["Apps"],"summary":"Regenerate a virtual app secret","description":"Regenerate a virtual app secret","operationId":"RegenerateAppSecret","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/AppsApi.html#regenerateappsecret"},"security":[{"oauth2_auth":["offline_access"]}],"parameters":[{"name":"id","in":"path","required":true,"type":"string","description":"The virtual app ID"}],"responses":{"200":{"description":"Operation executed successfully.","schema":{"type":"array","items":{"$ref":"#/definitions/App"}},"headers":{}},"401":{"description":"API key or app id are missing or invalid.","schema":{}},"404":{"description":"The ressource cannot be found.","schema":{}},"429":{"description":"Too many requests. Your request has been throttled.","schema":{}},"500":{"description":"The server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{}},"default":{"description":"The server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{}}}}},"/apps/{id}":{"get":{"tags":["Apps"],"summary":"Get a virtual app","description":"Get a virtual app","operationId":"GetApp","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/AppsApi.html#getapp"},"security":[{"oauth2_auth":["offline_access"]}],"parameters":[{"name":"id","in":"path","required":true,"type":"string","description":"The virtual app ID"}],"responses":{"200":{"description":"Operation executed successfully.","schema":{"type":"array","items":{"$ref":"#/definitions/App"}},"headers":{}},"401":{"description":"API key or app id are missing or invalid.","schema":{}},"404":{"description":"The ressource cannot be found.","schema":{}},"429":{"description":"Too many requests. Your request has been throttled.","schema":{}},"500":{"description":"The server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{}},"default":{"description":"The server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{}}}},"put":{"tags":["Apps"],"summary":"Update a virtual app","description":"Update a virtual app","operationId":"UpdateApp","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/AppsApi.html#updateApp"},"security":[{"oauth2_auth":["offline_access"]}],"parameters":[{"name":"id","in":"path","required":true,"type":"string","description":"The virtual app ID"},{"name":"body","in":"body","required":true,"description":"List of properties to be updated.","schema":{"$ref":"#/components/schemas/App"}}],"responses":{"200":{"description":"Operation executed successfully.","schema":{"type":"array","items":{"$ref":"#/definitions/App"}},"headers":{}},"401":{"description":"API key or app id are missing or invalid.","schema":{}},"404":{"description":"The ressource cannot be found.","schema":{}},"429":{"description":"Too many requests. Your request has been throttled.","schema":{}},"500":{"description":"The server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{}},"default":{"description":"The server encountered an unexpected condition that prevented it from fulfilling the request.","schema":{}}}},"delete":{"tags":["Apps"],"summary":"Delete a virtual app","description":"Delete a virtual app","operationId":"DeleteApp","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/AppsApi.html#deleteApp"},"security":[{"oauth2_auth":["offline_access"]}],"parameters":[{"name":"id","in":"path","required":true,"type":"string","description":"The virtual app ID"}],"responses":{"200":{"description":"Operation executed successfully."},"401":{"$ref":"#/components/responses/UnauthorizedError"},"404":{"$ref":"#/components/responses/NotFoundError"},"429":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"default":{"$ref":"#/components/responses/InternalServerError"}}}}},"definitions":{"CatalogTemplate":{"title":"CatalogTemplate","description":"A template from the corporate catalog","externalDocs":{"url":"https://developers.salestim.com/api/reference/Models/CatalogTemplate.html"},"type":"object"}},"tags":[{"name":"Catalog","description":"Microsoft Teams and policy templates from your corporate catalog","externalDocs":{"url":"https://developers.salestim.com/api/reference/Apis/CatalogApi"}}]}